{% extends 'rango/base.html' %}
{% block title %}Restricted Page{% endblock %}

{% block body_block %}

<div class="hero-unit">
 	<h1>{{category_name}}</h1>
 	<p>

	<b id="like_count">{{ category.likes }}</b> people like this category

	{% if user.is_authenticated %}
        <button id ="likes" data-catid="{{category.id}}" class="btn btn-mini btn-primary" type="button">Like</button>
	{% endif %}

	</p>
 	
    <div class="container-fluid">
        <form class="form-signin span8" id="user_form" method="post" action="/rango/category/{{ category_name_url }}/">
            {% csrf_token %}
            <!-- Display the search form elements here -->
            <input type="text" size="50" name="query" value="" id="query" />
            <input class="btn btn-primary" type="submit" name="submit" value="Search" />
            <br />
        </form>

        {% if result_list %}
        <!-- Display search results in an ordered list -->
        <div style="clear: both;">
            <ol>
            
            {% for result in result_list %}
                <li>
                    <strong><a href="{{ result.link }}">{{ result.title }}</a></strong><br />
                    <em>{{ result.summary }}</em>
                    {% if user.is_authenticated %}
                    <span id="{{ result.rank }}" >
                        <button class="btn btn-mini btn-primary" id="_{{ result.rank }}" name="_{{ result.rank }}"
                            data-catid="{{category.id}}" data-title="{{ result.title }}" data-url="{{ result.link }}" 
                            data-id="{{ result.rank }}" type="button">Add Page
                        </button>
                    </span>
                    {% endif %}
                </li>
            {% endfor %}
            </ol>
        </div>
        {% endif %}
    </div>
   
	<div class="container">
    	{% if user.is_authenticated %}
    	<a href="/rango/category/{{ category_name_url }}/add_page/">Add a Page to {{category_name}}</a>
    	{% endif %}
    
    	<div id="pages">
    		{% if pages %}
    		<ul>
        		{% for page in pages %}
        			<li>
            			<!--  <a href="{{ page.url }}">{{page.title}}</a>  -->
            			<a href="/rango/goto/?page_id={{ page.id }}/">{{page.title}}</a>
            			{% if page.views > 1 %}
                		- ({{ page.views }} views)
            			{% elif page.views == 1 %}
                		- ({{ page.views }} view)
            			{% endif %}
        			</li>
        		{% endfor %}
    		</ul>
    		{% else %}
    			<strong>No pages currently in category.</strong><br/>
    		{% endif %}
    	</div>
    </div>
</div>
{% endblock %}