{% extends 'rango/base.html' %}
{% block title %}Login to Rango2{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>Profile {{ user.username }}</h1>
	{% if user.is_authenticated %}
    <div class="container">

        {% if bad_details %}
        <p><strong>Your username and/or password were incorrect!</strong></p>
        {% elif disabled_account %}
        <p><strong>Your Rango account is currently disabled; we can't log you in!</strong></p>
        {% endif %}
        
	    <p>Email: {{ user.email }}</p>

       {% if userprofile %}
			<p>Website: <a href="{{ userprofile.website }}">{{userprofile.website}}</a></p>
			<br/>
			{% if userprofile.picture %}
				<img src="{{ userprofile.picture.url }}"  />
			{% endif %}
		{% endif %}
        
  

    </div>
    {% endif %}
    <!-- /container -->
</div>
{% endblock %}